.venv/
.data/
.phase3_output/
.preprocessed/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.DS_Store
.notebooks/phase3_output/X_test_final.csv
.notebooks/phase3_output/X_train_final.csv
.notebooks/phase3_output/y_test_final.csv
.notebooks/phase3_output/y_train_final.csv
.notebooks/preprocessed/X_test.csv
.notebooks/preprocessed/X_train.csv
.notebooks/preprocessed/scaler.pkl
.notebooks/preprocessed/y_test.csv
.notebooks/preprocessed/y_train.csv
.data/raw/creditcard.csv/creditcard.csv
.notebooks/.ipynb_checkpoints/Phase5-checkpoint.ipynb
.venv/
__pycache__/
*.pyc
*.pkl
*.joblib
*.h5
*.pt
*.csv
data/
models/
notebooks/*.ipynb
.venv/
